<div class="bg-secondary p-2 text-dark bg-opacity-25">
<h2>The Universe is the totality of everything that exists, has existed, or ever will exist.</h2>
<p>This Q&A site is dedicated to questions about the history of the Universe</p>
</div>


<br>
<div class="d-flex">
  <div class="flex-shrink-0">
   <%= image_tag "question_mark.png" %>
   </div>
  <div class="flex-grow-1 ms-3">
    <h5>user@email.com asked:</h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae quam at tortor ultricies ultrices vehicula nec nibh. Duis sollicitudin finibus sapien, vitae aliquet tellus tincidunt quis. Duis nec lorem.
  </div>
</div>
<br>
<div class="d-flex">
  <div class="flex-shrink-0">
   <%= image_tag "question_mark.png" %>
    </div>
  <div class="flex-grow-1 ms-3">
    <h5>user@email.com asked:</h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae quam at tortor ultricies ultrices vehicula nec nibh. Duis sollicitudin finibus sapien, vitae aliquet tellus tincidunt quis. Duis nec lorem.
  </div>
</div>
<br>
<div class="d-flex">
  <div class="flex-shrink-0">
    <%= image_tag "question_mark.png" %>
  </div>
  <div class="flex-grow-1 ms-3">
    <h5>user@email.com asked:</h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae quam at tortor ultricies ultrices vehicula nec nibh. Duis sollicitudin finibus sapien, vitae aliquet tellus tincidunt quis. Duis nec lorem.
  </div>
</div>
